In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
import re

In [4]:
data = pd.read_csv('data.csv')
data.head()

   Period  Sales
0       1   5384
1       2   8081
2       3  10282
3       4   9156
4       5   6118

In [5]:
data.shape

(12, 2)