## Data Preparation
Let's load this data into Python.

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Reading ratings file
# Ignore the timestamp column
ratings = pd.read_csv('ratings.csv', encoding='latin-1', usecols=['user_id', 'movie_id', 'rating'])

# Reading users file
users = pd.read_csv('users.csv', encoding='latin-1', usecols=['user_id', 'gender', 'zipcode', 'age_desc', 'occ_desc'])

# Reading movies file
movies = pd.read_csv('movies.csv', encoding='latin-1', usecols=['movie_id', 'title', 'genres'])

In [3]:
print(movies.shape)

(100, 3)

In [4]:
ratings.head(5)

   user_id  movie_id  rating
0        1         1       3
1        1         3       5
2        1         4       4
3        1         5       3
4        1         6       3

In [5]:
users.head(5)

   user_id gender  zipcode  age_desc              occ_desc
0        1      F    48067  Under 18          K-12 student
1        2      M    70072       56+         self-employed
2        3      M    55117     25-34             scientist
3        4      M     2460     45-49  executive/managerial
4        5      M    55455     25-34                writer

In [7]:
movies.head(5)

   movie_id                               title                        genres
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

## Content-Based Recommendation Model

Computes similarity between movies based on movie genres. It will suggest movies that are most similar to a particular movie based on its genre.

In [15]:
# Break up the big genre string into a string array
movies['genres'] = movies['genres'].apply(lambda x: str(x).split('|'))
print(movies.shape)
movies.head(5)

(100, 3)

   movie_id  ...                            genres
0         1  ...   [Animation, Children's, Comedy]
1         2  ...  [Adventure, Children's, Fantasy]
2         3  ...                 [Comedy, Romance]
3         4  ...                   [Comedy, Drama]
4         5  ...                          [Comedy]

[5 rows x 3 columns]

In [16]:
# Convert genres to string value
movies['genres'] = movies['genres'].fillna("").astype('str')
movies.head(5)

   movie_id  ...                                  genres
0         1  ...   ['Animation', "Children's", 'Comedy']
1         2  ...  ['Adventure', "Children's", 'Fantasy']
2         3  ...                   ['Comedy', 'Romance']
3         4  ...                     ['Comedy', 'Drama']
4         5  ...                              ['Comedy']

[5 rows x 3 columns]

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')
tfidf_matrix = tf.fit_transform(movies['genres'])
tfidf_matrix.shape

(100, 45)

In [18]:
tfidf_matrix

<100x45 sparse matrix of type '<class 'numpy.float64'>'
	with 246 stored elements in Compressed Sparse Row format>

In [19]:
from sklearn.metrics.pairwise import linear_kernel
cosine_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
#cosine_sim[:4, :4]
cosine_sim

array([[1.        , 0.15337409, 0.12551391, ..., 0.        , 0.        ,
        0.        ],
       [0.15337409, 1.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.12551391, 0.        , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.25861841],
       [0.        , 0.        , 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.25861841, 0.        ,
        1.        ]])

In [66]:
# Build a 1-dimensional array with movie titles
titles = movies['title']
indices = pd.Series(movies.index, index=movies['title'])

#TODO: Function that get movie recommendations based on the cosine similarity score of movie genres
def genre_recommendations(title):
    id = np.where(titles==title)[0][0]
    rec = sorted(titles, key=lambda x: -cosine_sim[id][np.where(titles==x)[0][0]])
    rec = rec[1:]
    result = pd.DataFrame(columns=["ID", "Title"])
    while len(rec) > 0:
      top = rec[0]
      rec = rec[1:]
      result = result.append({"ID": np.where(titles==top)[0][0], "Title": top}, ignore_index=True)

    return result
genre_recommendations('Toy Story (1995)').head(20)

    ID                                              Title
0   12                                       Balto (1995)
1   86                           Dunston Checks In (1996)
2   33                                        Babe (1995)
3   47                                  Pocahontas (1995)
4    4                 Father of the Bride Part II (1995)
5   18              Ace Ventura: When Nature Calls (1995)
6   37                                It Takes Two (1995)
7   51                            Mighty Aphrodite (1995)
8   62  Don't Be a Menace to South Central While Drink...
9   64                                    Bio-Dome (1996)
10  68                                      Friday (1995)
11  87                                 Black Sheep (1996)
12  95                      In the Bleak Midwinter (1995)
13   7                                Tom and Huck (1995)
14   1                                     Jumanji (1995)
15  55                     Kids of the Round Table (1995)
16   3                           Waiting to Exhale (1995)
17  44                                  To Die For (1995)
18  71                       Kicking and Screaming (1995)
19  74                                   Big Bully (1996)

Let's try and get the top recommendations for a few movies and see how good the recommendations are.

In [67]:
genre_recommendations('Toy Story (1995)').head(20)

    ID                                              Title
0   12                                       Balto (1995)
1   86                           Dunston Checks In (1996)
2   33                                        Babe (1995)
3   47                                  Pocahontas (1995)
4    4                 Father of the Bride Part II (1995)
5   18              Ace Ventura: When Nature Calls (1995)
6   37                                It Takes Two (1995)
7   51                            Mighty Aphrodite (1995)
8   62  Don't Be a Menace to South Central While Drink...
9   64                                    Bio-Dome (1996)
10  68                                      Friday (1995)
11  87                                 Black Sheep (1996)
12  95                      In the Bleak Midwinter (1995)
13   7                                Tom and Huck (1995)
14   1                                     Jumanji (1995)
15  55                     Kids of the Round Table (1995)
16   3                           Waiting to Exhale (1995)
17  44                                  To Die For (1995)
18  71                       Kicking and Screaming (1995)
19  74                                   Big Bully (1996)

## Collaborative Filtering Recommendation Model


Use the file **ratings.csv** first as it contains User ID, Movie IDs and Ratings. These three elements are all needed for determining the similarity of the users based on their ratings for a particular movie.

In [76]:
# Fill NaN values in user_id and movie_id column with 0
ratings['user_id'] = ratings['user_id'].fillna(0)
ratings['movie_id'] = ratings['movie_id'].fillna(0)

# Replace NaN values in rating column with average of all values
ratings['rating'] = ratings['rating'].fillna(ratings['rating'].mean())
ratings

      user_id  movie_id  rating
0           1         1       3
1           1         3       5
2           1         4       4
3           1         5       3
4           1         6       3
...       ...       ...     ...
7507      100        96       4
7508      100        97       4
7509      100        98       5
7510      100        99       5
7511      100       100       5

[7512 rows x 3 columns]

Take a random sample of 20,000 ratings (2%) (due to limitation of personal laptop)

In [69]:
# Randomly sample 1% of the ratings dataset
small_data = ratings.sample(frac=0.02)
# Check the sample info
print(small_data.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 2939 to 5471
Data columns (total 3 columns):
user_id     150 non-null int64
movie_id    150 non-null int64
rating      150 non-null int64
dtypes: int64(3)
memory usage: 4.7 KB
None

In [0]:
from sklearn.model_selection import train_test_split
train_data, test_data = train_test_split(small_data, test_size=0.2)

In [80]:
# Create two user-item matrices, one for training and another for testing
train_data_matrix = train_data.as_matrix(columns = ['user_id', 'movie_id', 'rating'])
test_data_matrix = test_data.as_matrix(columns = ['user_id', 'movie_id', 'rating'])

# Check their shape
print(train_data_matrix.shape)
print(test_data_matrix[:4, :4])

(120, 3)
[[ 12  64   1]
 [ 96  50   2]
 [100  54   3]
 [ 43  73   5]]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

Now I use the **pairwise_distances** function from sklearn [Pearson Correlation Coefficient](https://stackoverflow.com/questions/1838806/euclidean-distance-vs-pearson-correlation-vs-cosine-similarity). This method provides a safe way to take a distance matrix as input, while preserving compatibility with many other algorithms that take a vector array.

In [77]:
from sklearn.metrics.pairwise import pairwise_distances

# User Similarity Matrix
user_correlation = 1 - pairwise_distances(train_data, metric='correlation')
user_correlation[np.isnan(user_correlation)] = 0
print(user_correlation[:4, :4])

[[1.         0.83089629 0.80621167 0.70965538]
 [0.83089629 1.         0.99907582 0.19761973]
 [0.80621167 0.99907582 1.         0.15530211]
 [0.70965538 0.19761973 0.15530211 1.        ]]

In [78]:
# Item Similarity Matrix
item_correlation = 1 - pairwise_distances(train_data_matrix.T, metric='correlation')
item_correlation[np.isnan(item_correlation)] = 0
print(item_correlation[:4, :4])

[[1.         0.06077495 0.11710508]
 [0.06077495 1.         0.01943477]
 [0.11710508 0.01943477 1.        ]]

With the similarity matrix in hand, I can now predict the ratings that were not included with the data. Using these predictions, I can then compare them with the test data to attempt to validate the quality of our recommender model.

For the user-user CF case, I will look at the similarity between 2 users (A and B, for example) as weights that are multiplied by the ratings of a similar user B (corrected for the average rating of that user).

In [0]:
#TODO: Function to predict ratings
def predict(ratings, similarity, type='user'):
    if type == 'user':
        ...
    elif type == 'item':
        ...
    return pred

In [0]:
from sklearn.metrics import mean_squared_error
from math import sqrt

# Function to calculate RMSE
def rmse(pred, actual):
    # Ignore nonzero terms.
    pred = pred[actual.nonzero()].flatten()
    print(pred)
    actual = actual[actual.nonzero()].flatten()
    return sqrt(mean_squared_error(pred, actual))

In [0]:
# Predict ratings on the training data with both similarity score
user_prediction = predict(train_data_matrix, user_correlation, type='user')
item_prediction = predict(train_data_matrix, item_correlation, type='item')

# RMSE on the test data
print('User-based CF RMSE: ' + str(rmse(user_prediction, test_data_matrix)))
print('Item-based CF RMSE: ' + str(rmse(item_prediction, test_data_matrix)))

[ 78.31313638  49.0192993   16.66756433  73.86810119  69.88663803
  24.24526078  65.72009475  27.43945197   5.84045328  66.10521735
  33.77398224   4.12080041  36.50694765  56.33191642   4.16113592
  70.54550129  51.3892098   13.06528891  47.26743534  47.10863418
  -0.37606952  52.36926963  14.25204758  -7.62131721  40.02502532
  43.63962539  -5.66465071  69.13442201  42.71976656   8.14581143
  74.73830219  44.37177681  12.889921    37.22886257  60.87214129
   9.89899614  59.31285421  55.7700163    9.91712949  21.95451647
  43.80694408  -7.76146055  33.52400763  32.19922366 -14.72323129
  76.29899188  45.34442797  14.35658015  51.72412692  42.75641535
  -0.48054227  51.30431903  30.64818009  -6.95249912  65.51507241
  25.88638908   6.59853852  46.22979186  10.78081257 -15.01060444
  62.34586004  31.26134152   0.39279845  53.32368335  15.52721592
  -6.85089927  17.33526181  32.79428305 -20.12954486  43.53990616
  65.9297929   14.53030094  50.51489919  53.82008777   4.66501303
  68.95661823  49.64658291  11.39679886  70.18695211  33.28251205
   9.53053584  57.29509872  64.32899944  13.37590183  78.24056881
  60.34584686  21.41358433  41.94927125  48.34901462  -2.29828587]
User-based CF RMSE: 30.969917357676763
[87.67117019 27.50002032  3.70220844 59.5427996  75.8483335   2.11149388
 77.60472588  0.68568997  4.01294215 68.09739113 15.0293744   2.8456604
 14.62207968 63.99225586  0.23676108 65.58157967 41.22221258  4.50481994
 30.03385704 44.60223616  2.456945   43.14561226  2.15187029  3.96318554
 22.52805061 38.1365883   3.51424248 67.79431234 27.5876928   3.68255857
 85.45301746 22.36502928  0.80006953 11.66996276 75.91511196  0.09164281
 43.40164304 55.86820347  3.32206825  8.11606449 37.72723108  1.5313929
 16.71027116 23.47965876  1.7095481  88.18892751 22.09660369  1.79295942
 37.02169737 37.67192373  2.54623089 35.85469314 21.64050113  4.71079782
 81.68464942 -4.17837646  4.07483611 24.7457858   5.6728255   4.89105007
 58.07382738 15.96714317  3.81220689 46.78943911  1.8171987   2.98346735
  6.73264463 14.55086207  3.78106579 16.53541653 81.69552068  2.98855327
 31.81417598 54.27657741  3.33022688 63.93080444 39.59670564  3.53555864
 86.28253904  4.35351741  2.99014672 35.63369253 70.92355158  4.12216613
 76.38719945 50.94882969  4.39880021 23.65585723 45.19537797  3.43101818]
Item-based CF RMSE: 37.13943006941654